@if(product)
{
  <mat-card  appearance="raised">
    <img class="h-40" src="{{product.pictureUrl}}" alt="image of {{product.name}}">
  </mat-card>
  <mat-card-content class="mt-2">
    <h2 class="text-sm font-semibold uppercase">{{product.name}}</h2>
    <p class="font-light">{{product.price | currency}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button class="w-full">
      <mat-icon>add_shopping_cart</mat-icon>
      Add to cart
    </button>
  </mat-card-actions>
}

<!-- class=" h-80"
class="h-48" -->